.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex a {
  padding: 1em;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #222;
  border: 2px solid #000;
  width: 200px;
  text-align: center;
  margin: .3em;
}

.flex a:hover {
  background-color: #000;
}
