.btn-mas, .btn-cancel, .buscar-mas button {
  display: inline-block;
  padding: 0.5em;
  background-color: #008000;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
}
.btn-mas:hover, .btn-cancel:hover, .buscar-mas button:hover {
  background-color: #006100;
  cursor: pointer;
}

.buscar-mas {
  display: none;
}
.buscar-mas input {
  display: inline-block;
  padding: 0.3em;
  margin: 0.2em;
}
.buscar-mas button {
  padding: 0.3em;
}